.navbar-brand {
    font-weight: bold;
    text-align: center;
    align-items: center;
    display: contents;

}
.navbar{
    background-color: cadetblue;
}


.Footer-Section {
    align-items: center;
    text-align: center;
    display: block;
}