.navbar-brand {
    font-weight: bold;
    text-align: center;
    align-items: center;
    display: contents;

}


.Footer-Section {
    align-items: center;
    text-align: center;
    display: block;
}