<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
        <a class="navbar-brand" href="#">
            <img src="/assets/images/Steamx.jpg" alt="Steam X Logo" width="50" height="50"
                class="d-inline-block align-text-top me-2">
            <div class="vl"></div>
            Steam X
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarNavDropdown">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link active" href="home">Home</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="servicesDropdown" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">Our Services</a>
                    <ul class="dropdown-menu" aria-labelledby="servicesDropdown">
                        <li><a class="dropdown-item" href="tile-cleaning">Tile Cleaning</a></li>
                        <li><a class="dropdown-item" href="upho">Upholstery Cleaning</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="aboutDropdown" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">About Us</a>
                    <ul class="dropdown-menu" aria-labelledby="aboutDropdown">
                        <li><a class="dropdown-item" href="ourstory">Our Story</a></li>
                        <li><a class="dropdown-item" href="hwWork">How We Work</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="contact">Contact</a>
                </li>
            </ul>
        </div>
    </div>
</nav>


<router-outlet></router-outlet>


<!--aqui comienza el footer-->
<div class="Footer-Section">
    <!--aqui comienza el footer-->
    <footer class="bg-dark text-white">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <h3>Links</h3>
                    <ul class="list-unstyled">
                        <li><a class="text-white" href="/home" routerlink="home">Home</a></li>
                        <li><a href="/home" class="text-white" routerlink="home">About Us</a></li>
                        <li><a href="/contact" class="text-white" routerlink="contact">Contact</a></li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <h3>Contacts</h3>
                    <p>Address:123 Calle Principal</p>
                    <p>Email: info&commat;example.com</p>
                    <p>Telephone: 888-555-1234</p>
                </div>
                <div class="col-md-4">
                    <h3>Social Media</h3>
                    <ul class="list-inline">
                        <li class="list-inline-item"><a href="#" class="text-white"><i class="fab fa-facebook"></i></a>
                        </li>
                        <li class="list-inline-item"><a href="#" class="text-white">X<i class="fab fa-twitter"></i></a>
                        </li>
                        <li class="list-inline-item"><a href="#" class="text-white"><i class="fab fa-linkedin"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>

    <!--aqui termina el footer-->