

<div class="col-sm-10 col-md-6 col-lg-12">


<form action="" method="post" class="form-group">
    <div class="form-group">
        <label for="Name">Name</label>
        <input type="text" placeholder="Introduce your name" maxlength="20" id="fist_name" name="Name" class="form-control">
        <label for="last_name">Last Name</label>
        <input type="text" placeholder="Introduce your last name" maxlength="30" id="last_name_" name="last_name" class="form-control">
    </div>
    
    <div class="form-group">
        <label for="company_mail">Company</label>
        <input type="text" placeholder="Introduce the name of the company mail" maxlength="20" id="email_company" name="company_mail" class="form-control">
        <label for="company_name">Company Name</label>
        <input type="text" placeholder="Introduce your company name" maxlength="20" id="company_name_" name="company_name" class="form-control">
    </div>
    <div class="form-group">
        <label for="job">Job</label>
        <input type="text" placeholder="Introduce your Job" maxlength="20" id="job_name" name="job" class="form-control">
        <label for="industry">Industry</label>
        <input type="text" placeholder="wa? 2" maxlength="20" id="ikn_man3" name="industry" class="form-control">
    </div>
    <div class="form-group">
        <label for="zip-code">Zip Code</label>
        <input type="text" placeholder="Introduce your Zip Code" maxlength="20" id="code" name="zip-code" class="form-control">
        <label for="country">Country</label>
        <input type="text" placeholder="Where you at" maxlength="20" id="country_name" name="country" class="form-control"> 
    </div>

    <div class="form-group">
        <label for="questions">How can we hel you</label>
        <input type="text" placeholder="wa?" maxlength="200" id="ikn_man" name="questions" class="form-control">
    </div>
    <div class="form-group">
         <label for="#_personal">What is the ESTIMATED # OF STAFF THAT YOU NEED</label>
        <input type="text" placeholder="Please place a number" maxlength="30" id="ikn_man2" name="#_personal" class="form-control">
    </div >
   <div class="form-group">
        <label for="message">Your Message</label>
        <input type="text" placeholder="message" maxlength="200" id="ikn_man4" name="message" class="form-control">
   </div>

</form>
</div>