* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar-nav {
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 80%;
    flex-direction: column;
}

.Introduction {
    width: 100%;
    max-width: 1200px;
    overflow: hidden;
    margin: auto;
    padding: 60px 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Introduction-Section {
    border-bottom: 1px solid #ddd;
    padding-bottom: 40px;
    background-image: url('/assets/images/Carpett.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.7);
}

video {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.Titulos {
    text-align: center;
    padding: 10px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: rgb(0, 0, 0);
}


.videoPlayer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: auto;
    margin: 0;
    max-width: 100%;

}

.TituloHiringStaffing {
    text-align: center;
    padding: 60px 0;
    margin: auto;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: rgb(0, 0, 0);
}

.HiringStaffing-Section {
    border-bottom: 1px solid #ddd;
    padding-bottom: 20px;

}



.Subscriber-Section {
    border-bottom: 1px solid #ddd;
    padding-bottom: 30px;
    display: grid;
    height: 25vh;
    place-items: center;

}



.Titulo-Contact {
    font-weight: bold;
    text-align: center;
    padding: 60px 0;

}

.Contact-Section {
    border-bottom: 1px solid #ddd;
    padding-bottom: 20px;
}

.Steamxx {
    font-weight: bold;
    color: black;


}

.Steamxxba {
    color: black;

    padding-bottom: 15px;
}

.HiringStaffing_div {

    display: inline-flex;
    flex-direction: row;
    margin-right: 20px;
    align-items: center;
    align-content: center;

}

.Hiring-Title {
    display: inline-block;
    margin-right: 20px;

    /* Ajusta el margen entre los títulos según tus preferencias */
}

.Subscriber-Section {
    background-color: #011627;


}

.Container-Subscriber {
    text-align: start;
    color: white;
    font-size: xx-large;
}

.botonSubs {
    border-radius: 0%;
    padding: 10 0px;
    font-size: larger;
    position: relative;
    top: 26px;
    left: 380px;
}