.navbar-nav {
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 80%;
    flex-direction: column;
}

.Introduction {
    width: 100%;
    max-width: 1200px;
    overflow: hidden;
    margin: auto;
    padding: 60px 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Introduction-Section {
    border-bottom: 1px solid #ddd;
    padding-bottom: 20px;
}



.Titulos {
    text-align: center;
    padding: 10px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: rgb(0, 0, 0);
}


.videoPlayer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: auto;
    margin: 0;
    max-width: 100%;

}

.TituloHiringStaffing {
    text-align: center;
    padding: 60px 0;
    margin: auto;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: rgb(0, 0, 0);
}

.HiringStaffing-Section {
    border-bottom: 1px solid #ddd;
    padding-bottom: 20px;

}



.Subscriber-Section {
    border-bottom: 1px solid #ddd;
    padding-bottom: 20px;
    display: grid;
    height: 25vh;
    place-items: center;
}



.Titulo-Contact {
    font-weight: bold;
    text-align: center;
    padding: 60px 0;

}

.Contact-Section {
    border-bottom: 1px solid #ddd;
    padding-bottom: 20px;
}

.Steamxx {
    font-weight: bold;

}

.HiringStaffing-div {
    display: grid;
    height: 55vh;
    place-items: center;
}

.Hiring-Title{
    display: flex;
    position: fixed;
    margin-left: 30%;

    /* Ajusta el margen entre los títulos según tus preferencias */
}