* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar-nav {
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 80%;
    flex-direction: column;
}

.Introduction {
    width: 100%;
    max-width: 1200px;
    overflow: hidden;
    margin: auto;
    padding: 180px 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Introduction-Section {
    border-bottom: 1px solid #ddd;
    padding-bottom: 40px;
    background-image: url('/assets/images/Carpett.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.7);
}

#Video-Introduction {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    width: 100%;
    max-width: 1200px;
    overflow: hidden;
    margin: auto;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#videoCarpet {
    width: 80%;
    max-width: 1200px;
    overflow: hidden;
    margin: auto;
    padding: 35px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#videoUpholstery {
    width: 80%;
    max-width: 1200px;
    overflow: hidden;
    margin: auto;
    padding: 35px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#videoTile {
    width: 80%;
    max-width: 1200px;
    overflow: hidden;
    margin: auto;
    padding: 35px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Titulos {
    text-align: center;
    padding: 10px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: rgb(0, 0, 0);
}

.ThisIsClass {
    text-align: center;
    justify-content: center;
    font-weight: bold;
    padding: 40px;
    font-size: 55px;
    color: white;
    position: relative;
    bottom: 40px;
}

.VideoIntroductionSection {
    background-color: black;
    padding: 90px;
}

.videoPlayer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: auto;
    margin: 0;
    max-width: 100%;

}

.HiringStaffingTittle {
    text-align: center;
    font-weight: bold;
    font-size: 39px;

}

.TituloHiringStaffing {
    text-align: center;
    padding: 60px 0;
    margin: auto;
    font-weight: bold;
    font-size: 39px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: rgb(0, 0, 0);
}

.HiringStaffing-Section {
    border-bottom: 1px solid #ddd;
    padding-bottom: 20px;

}

.Subscriber-Section {
    border-bottom: 1px solid #ddd;
    padding-bottom: 30px;
    display: grid;
    height: 25vh;
    place-items: center;

}



.Titulo-Contact {
    font-weight: bold;
    text-align: center;
    padding: 60px 0;

}

.Contact-Section {
    border-bottom: 1px solid #ddd;
    padding-bottom: 20px;
}

.container-contact{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.img-fluid{
    max-width: 50%;
    max-height: 50%;
}

.form-group{
   font-size: larger;
   font-style: italic;
   font-family: Arial, Helvetica, sans-serif;
}

.Steamxx {
    font-size: 65px;
    font-weight: bold;
    color: white;
    padding-bottom: 10px;
}

.Steamxxba {
    color: white;
    font-size: 25px;
    padding-bottom: 15px;
}

.HiringStaffing_div {

    text-align: center;
    padding: 60px 0;
    margin: auto;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(0, 0, 0);

}

.ServicesDiv {
    text-align: center;
    padding: auto 0;
    margin: auto 0;
    padding-bottom: 95px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ServicesCleaningClass {
    font-size: 22px;
    padding: 25px;
    margin-left: 55px;
}

.TittleTile {
    position: relative;
    bottom: 19px;
}

.HiringTitle {
    padding: 10px;
    margin-right: 3px;
}

.StaffingTitle {

    margin-left: 4px;

}

.Hiring-Title {
    display: inline-block;
    margin-right: 20px;

    /* Ajusta el margen entre los títulos según tus preferencias */
}



.vl {
    border-left: 3px solid black;
    height: 50px;
    padding: 4px;
}

.vll {
    height: 4px;
    width: 50%;
    background-color: black;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 9px;

}

.vlll {
    height: 4px;
    width: 59%;
    background-color: white;
    align-items: center;
    justify-content: center;
    margin: auto;
    position: relative;
    top: 9px;

}

.vllll {
    height: 4px;
    width: 50%;
    background-color: black;
    align-items: center;
    justify-content: center;
    margin: auto;
    position: relative;
    top: 9px;

}


.Subscriber-Section {
    background-color: #011627;


}

.Container-Subscriber {
    text-align: start;
    color: white;
    font-size: xx-large;
}

.botonSubs {
    border-radius: 0%;
    padding: 10 0px;
    font-size: larger;
    position: relative;
    top: 26px;
    left: 380px;
}

.DefinitionCarpetCl {
    font-size: 15px;
}

.DefinitionTileCL {
    font-size: 15px;

}

.DefinitionUpholCL {
    font-size: 15px;
}

.card {
    text-align: center;
    padding: auto 0;
    margin: auto 0;
    padding-bottom: 95px;
    display: flex;
    justify-content: center;
    align-items: center;

}