<!--Aqui seccion de introduccion-->
<div class="Body-Section">
    <div class="Introduction-Section">
        <div class="Introduction">
            <div class="card-body CardIntroduction">
                <section class="Introduction Titulos">
                    <h1 class="Steamxx">Steam X</h1>
                    <p class="Steamxxba">Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit, consectetur.
                        Perferendis
                        aliquam,
                        assumenda tempore corrupti sequi ea blanditiis asperiores? Saepe quas sed doloremque
                        unde
                        atque
                        delectus tenetur magni fugit veniam?</p>
                </section>
            </div>
        </div>
    </div>

    <!--Aqui ternina la seccion de introduccion-->

    <!--Video Introduction Starting-->

    <div class="VideoIntroductionSection">
        <h3 class="ThisIsClass">This is Steam X
            <div class="vlll"></div>
        </h3>
        <video id="Video-Introduction" controls>
            <source src="assets/Videos/VideoParaQueLaPaginaSeCalle.mp4" type="video/mp4">
        </video>
        <hr>
    </div>

    <!--Video Introduction Ending-->

    <!--Our Services Starting-->

    <div class="WhatAreYou">
        <h3 class="TituloHiringStaffing"> Our Services
            <!-- <div class="vll"></div> -->
        </h3>
        <div class="ServicesDiv">
            <div class="CarpetServices">
                <h4 class="ServicesCleaningClass">
                    Carpet Cleaning
                </h4>
                <video id="videoCarpet" autoplay muted loop>
                    <source src="assets/Videos/CarpetShortVideo.mp4" type="video/mp4">
                </video>
                <p class="DefinitionCarpetCl">Service involves the removal of dirt, stains, allergens,
                    and other contaminants from carpets using specialized techniques and professional equipment

                </p>
            </div>
            <div class="TileServices">
                <h4 class="ServicesCleaningClass TittleTile">
                    Tile Cleaning
                </h4>
                <video id="videoTile" autoplay muted loop>>
                    <source src="assets/Videos/TileCleaningShortVideo.mp4" type="video/mp4">
                </video>
                <p class="DefinitionTileCL">Service involves the thorough cleaning and maintenance of
                    tiled surfaces, such as
                    floors, walls, and countertops.

                </p>
            </div>
            <div class="UpholsteryServices">
                <h4 class="ServicesCleaningClass">
                    Upholstery Cleaning
                </h4>
                <video id="videoUpholstery" autoplay muted loop>>
                    <source src="assets/Videos/UpholsteryCleaningShortVideo.mp4" type="video/mp4">
                </video>
                <p class="DefinitionUpholCL">
                    Involves the removal of dirt, stains, allergens, and odors from fabric surfaces,
                    restoring the appearance and extending the lifespan of the furniture.
                </p>
            </div>
        </div>
    </div>

    <!--Our Services? Starting-->


    <!--Hirigng y Staffing-->

    <div class="HiringStaffing">
        <h4 class="HiringStaffingTittle">WE CAN
            <div class="vllll"></div>
        </h4>
        <div class="HiringStaffing_div">
            <h3 class="HiringTitle" routerLink="../hiring">Hiring</h3>
            <div class="vl"></div>
            <h3 class="StaffingTitle" routerLink="../staffing">Staffing</h3>
        </div>
    </div>

    <!--Hiring y staffing end-->

    <!--Subscribe inicio-->
    <div class="Subscriber-Section">
        <section class="Subscriber">
            <h3 class="Container-Subscriber">IF YOU WANT TO SUBSCRIBER JUST TEXT TO 888-888-888
            </h3>
            <button type="button" class="btn btn-light btn-lg botonSubs">Contact Us</button>
        </section>
    </div>

    <!--subscribe ending-->

    <!--Area de contact us-->

    <!--aqui termina el contact us-->
</div>